.bodyPP{
    background-image:url(fondo3.jpg);
    background-attachment: fixed;
    background-size: cover;
}
body{
    
    background-color: #d0efea;
}
.menu {
    width: 80%;
    background-color: rgb(155, 225, 205);
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    max-width: 700px;
  }
#ImgCaracterizacionMapa{
    margin-right: 0%;
    margin-left: 0%;
}

img{
    margin-left: 10%;
    margin-right: 10%;
}
h1{
    text-align:center;
    font-size: 40px;
}
h2{
    color:#005954;
}
p,pre,ul,h3,h2,h1{
    font-family:"Candara"; 
    
}

button{
    color: #ffffff;
    border: #000908, 2px;
    background-color: #39ada7;
}

hr{
    border-color:rgba(47, 99, 95, 0.5);
}

